# Core
streamlit
pandas
numpy
openai

# Data & ML
scikit-learn
matplotlib
seaborn
statsmodels

# NLP / Embeddings
langchain
faiss-cpu
tiktoken
PyPDF2

# Content Tools
moviepy==1.0.3
gTTS
Pillow

# Utilities
requests
python-dotenv
